<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- [%thread] -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS}  %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework" level='info'>
    </logger>

    <logger name="org.springframework.web" level='debug'>
    </logger>

    <logger name="org.springframework.web.client" level='trace'>
    </logger>

    <logger name="io.eventuate" level='debug'>
    </logger>

    <logger name="com.netflix.discovery" level='debug'>
    </logger>

    <logger name="org.springframework.cloud.netflix.eureka" level='debug'>
    </logger>

</configuration>
